@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ChangePasswordViewModel

<div class="account-details-form">
    <div asp-validation-summary="ModelOnly" class="text-danger"> </div>
    <form method="POST" asp-route="client-account-changepassword">

        <div class="col-12  mb--30">
            <h4>Password change</h4>
        </div>
        <div class="col-12  mb--30">
            <label asp-for="CurrentPassword"></label>
            <input asp-for="CurrentPassword" class="form-control">
            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
        </div>
        <div class="col-lg-6 col-12  mb--30">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="col-lg-6 col-12  mb--30">
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" class="form-control">
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="col-12">
            <button class="btn btn--primary">Save Changes</button>
        </div>
    </form>
</div>